# Resolving Architecture Network Manager

## Discovery
ra.networkmanager.discovery.maxPeers.total=3000
ra.networkmanager.discovery.maxPeers.perNetwork=1500
ra.networkmanager.discovery.maxPeers.i2p=1500
ra.networkmanager.discovery.maxPeers.tor=1000
ra.networkmanager.discovery.maxPeers.bluetooth=20
ra.networkmanager.discovery.numPeersShare=8

## Stats

### Relability
ra.networkmanager.stats.reliable.totalAcks = 100;
#### How many acks have been within the latency thresholds defined below
ra.networkmanager.stats.reliable.latencyThresholdAcks = 50;
ra.networkmanager.stats.reliable.i2p.avgAckLatencyMs = 8000;
ra.networkmanager.stats.reliable.i2p.medAckLatencyMs = 8000;
ra.networkmanager.stats.reliable.tor.avgAckLatencyMs = 8000;
ra.networkmanager.stats.reliable.tor.medAckLatencyMs = 8000;
ra.networkmanager.stats.reliable.bluetooth.avgAckLatencyMs = 8000;
ra.networkmanager.stats.reliable.bluetooth.medAckLatencyMs = 8000;


### Super Reliability
ra.networkmanager.stats.superreliable.totalAcks = 1000;
#### How many acks have been within the latency thresholds defined below
ra.networkmanager.stats.superreliable.latencyThresholdAcks = 500;
ra.networkmanager.stats.superreliable.i2p.avgAckLatencyMs = 4000;
ra.networkmanager.stats.superreliable.i2p.medAckLatencyMs = 4000;
ra.networkmanager.stats.superreliable.tor.avgAckLatencyMs = 4000;
ra.networkmanager.stats.superreliable.tor.medAckLatencyMs = 4000;
ra.networkmanager.stats.superreliable.bluetooth.avgAckLatencyMs = 4000;
ra.networkmanager.stats.superreliable.bluetooth.medAckLatencyMs = 4000;

### Service Level Agreements

#### Service Level Agreement 1: Real-Time (e.g. for voice)
ra.networkmanager.stats.sla.1.avgAckLatencyMs = 500;
ra.networkmanager.stats.sla.1.avgMedLatencyMs = 500;

#### Service Level Agreement 2: Slightly Delayed Time (e.g. for chat)
ra.networkmanager.stats.sla.2.avgAckLatencyMs = 1000;
ra.networkmanager.stats.sla.2.avgMedLatencyMs = 1000;

#### Service Level Agreement 3: Normal Delayed Time (e.g. for browsing)
ra.networkmanager.stats.sla.3.avgAckLatencyMs = 2000;
ra.networkmanager.stats.sla.3.avgMedLatencyMs = 2000;

#### Service Level Agreement 4: Extended Delayed Time (e.g. for charting)
ra.networkmanager.stats.sla.4.avgAckLatencyMs = 5000;
ra.networkmanager.stats.sla.4.avgMedLatencyMs = 5000;

#### Service Level Agreement 5: Relaxed Time (e.g. for email)
ra.networkmanager.stats.sla.5.avgAckLatencyMs = 90000;
ra.networkmanager.stats.sla.5.avgMedLatencyMs = 90000;