# Resolving Architecture Network Manager
ra.networkmanager.discovery.maxPeers.total=3000
ra.networkmanager.discovery.maxPeers.perNetwork=1500
ra.networkmanager.discovery.maxPeers.i2p=1500
ra.networkmanager.discovery.maxPeers.tor=1000
ra.networkmanager.discovery.maxPeers.bluetooth=20
ra.networkmanager.discovery.numPeersShare=8

